.HeaderLogo {
  width: 100px;
  position:fixed;
  left: 100px;
  top: 3px;
}
body{
  position: relative;
  height: 200px;
  width: 90%;
  background-color: #abdae9;
  z-index:-1;
  overflow-x: hidden;
  overflow-y: visible;
}
/*reset*/
ul {
list-style: none;
margin: 0;
padding: 0;
}
a {
color: #fff;
text-decoration: none;
}
p {
font-size: 18px;
font-family: "Roboto", sans-serif;
font-weight: 600;
}
/*ナビゲーションのスタイル*/
.about {
top: 40px;
left: 300px;
font-size: 100%;
color: #3b3b3b;
}
.disboard {
top: 40px;
left: 500px;
font-size: 100%;
color: #3b3b3b;
}
.background {
top: 16px;
height: 70px;
position: absolute;
position:fixed;
border-radius: 100px;
right: 93px;
z-index: 6;
}
.background2 {
  top: 410px;
  width: 270px;;
  height: 70px;
  position: absolute;
  border-radius: 100px;
  left: 808px;
  z-index: 6;
  }
header {
position: fixed;
background: #ffffff;
color: #ffffff;
z-index: 5;
width: 100%;
height: 105px;
top: 0px;
box-shadow: 0px 0px 20px -5px #fff;
}
.discord {
position: absolute;
right: 193px;
position:fixed;
top: 41px;
z-index: 7;
}
.discord2 {
  position: absolute;
  left: 903px;
  top: 432px;
  z-index: 7;
  }
.japanese {
position: absolute;
right: 500px;
top: 39px;
color: #3b3b3b;
}
.discordscreen {
position: absolute;
border-radius:  25px;
border: solid 5px #373737; 
left: 200px;
top: 600px;
}
.promotion1 {
font-size: 70px;
font-family: "Roboto", sans-serif;
font-weight: 900;
color: #000;
position: absolute;
z-index : 0;
top: 200px;
left: 720px;
}
.promotion2 {
font-size: 50px;
font-family: "Roboto", sans-serif;
font-weight: 900;
background: #000;
font-weight: lighter;
-webkit-background-clip: text;
-webkit-text-fill-color: transparent;
z-index : 0;
position: absolute;
top: 300px;
left: 276px;
}
.server-promotion-text {
  position: relative;
  top: 1660px;
  color: #fff;
  font-size: 70px;
  left: 520px;
  font-family: "Roboto", sans-serif;
  font-weight: 900;
}
.always-active {
  font-size: 100px;
  font-family: "Roboto", sans-serif;
  font-weight: 900;
  color: #fff;
  position: absolute;
  top: 2900px;
  left: 635px;
}
.always-description {
  font-size: 50px;
  font-family: "Roboto", sans-serif;
  font-weight: 900;
  opacity: 0.5;
  color: #fff;
  position: absolute;
  top: 3050px;
  left: 375px;
}
.various-games {
  position: absolute;
  top: 3900px;
  left: 610px;
  font-size: 100px;
  font-family: "Roboto", sans-serif;
  font-weight: 900;
  color: #fff;
}
.games-description1 {
  font-size: 50px;
  font-family: "Roboto", sans-serif;
  font-weight: 900;
  opacity: 0.5;
  color: #fff;
  position: absolute;
  top: 4050px;
  left: 500px;
}
.games-description2 {
  font-size: 50px;
  font-family: "Roboto", sans-serif;
  font-weight: 900;
  opacity: 0.5;
  color: #fff;
  position: absolute;
  top: 4120px;
  left: 585px;
}
.server-promotion-picture1 {
  position: absolute;
  top: 3200px;
  left: 515px;
  width: 50%;
  height: 250%;
}
.server-promotion-picture2 {
  position: absolute;
  top: 4270px;
  left: 725px;
}
.join {
  position: absolute;
  top: 5200px;
  left: 500px;
  font-size: 70px;
  font-family: "Roboto", sans-serif;
  font-weight: 900;
  color: #fff;
  position: absolute;
  z-index : 0;
}
.discord-widget {
  position: absolute;
  top: 5400px;
  left: 790px;
}
.header-nav ul li {
  font-size: 18px;
  font-family: "Roboto", sans-serif;
  font-weight: 900;
}
.header-nav ul li a {
position: absolute;
position: fixed;
}
/*ホバーエフェクト*/
.header-nav ul li a::after {
/*アンダーラインのスタイル*/
position: absolute;
content: "";
display: block;
width: 100%;
height: 3px;
background-color: #0DC600;
bottom: -15px;
left: 0;
/*横方向0で非表示にする*/
-webkit-transform: scale(0, 1);
transform: scale(0, 1);
/*中央を基点にアニメーション*/
-webkit-transform-origin: center top;
transform-origin: center top;
/*アニメーションの速度設定*/
-webkit-transition: all 0.5s ease;
transition: all 0.5s ease;
}
.header-nav ul li a:hover::after {
/*横方向等倍まで拡大*/
transform: scale(1, 1);
}
.info {
  position: absolute;
  top: 300px;
  left: 340px;
  font-size: 80px;
  font-family: "Roboto", sans-serif;
  font-weight: 900;
  color: #fff;
}
.cp_arrows *, .cp_arrows *:before, .cp_arrows *:after {
	-webkit-box-sizing: border-box;
	        box-sizing: border-box;
}
.cp_arrows {
	position: relative;
	display: flex;
	height: 300px;
	margin: 2em auto;
	justify-content: center;
	align-items: center;
	text-align: center;
}
.cp_arrows .cp_arrow {
	position: absolute;
	-webkit-transition: all 0.3s ease-out;
	        transition: all 0.3s ease-out;
	-webkit-animation: arrow-move06 2s 1s ease-in-out infinite;
	        animation: arrow-move06 2s 1s ease-in-out infinite;
	color: #3b3b3b;
	border-color: #3b3b3b;
  left: 920px;
}
.cp_arrows .cp_arrow:before {
	font-size: 2em;
	line-height: 1.9em;
	position: absolute;
	top: 0;
	left: 50%;
	width: 2em;
	height: 2em;
	content: '▼';
	-webkit-transition: transform 0.5s ease-in;
	transition: transform 0.5s ease-in;
	border: 0.13em solid #ffffff;
	border-color: inherit;
	border-radius: 10em;
}
@keyframes arrow-move06 {
	0% {
		top: 560%;
		opacity: 0.1;
	}
	70% {
		top: 565%;
		opacity: 1;
	}
	100% {
		top: 560%;
		opacity: 0.3;
	}
}
.cp_arrow2 {
  position: absolute;
  top: 5800px;
  left: 1800px;
  width: 100px;
}